body {
  font-family: 'Noto Sans Mono', monospace !important;
}
main {
  margin: 10px;
  padding: 5px 7px 5px;
}

input {
  text-align: right;
  background-color: var(--bs-light);
  width: 330px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
}

table {
  display: inline-block;
  padding: 20px;
  background-color: var(--bs-gray-500);
  border-radius: 10px;
}

.displaytable {
  display: table;
}

.displaytable-cell {
  display: table-cell;
}

.button {
  width: 60px;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
}

.blackbutton {
  background-color: black;
  color: white;
}

.greenbutton {
  background-color: var(--bs-success);
  color: white;
}

.greybutton {
  background-color: var(--bs-gray-400);
}

.bluebutton {
  background-color: var(--bs-primary);
  color: white;
}

.redbutton {
  background-color: var(--bs-danger);
  color: white;
}
